body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.grid-container{
    resize: both;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "nav-area header header"
    "nav-area main-area announcements"
}


/*start nav-area*/
.grid-container > .nav-area{
    background-color: rgb(236, 238, 238);
    grid-area: nav-area;
    background-color: #E2E8F0;
    border-right: 1px solid black;
}

.nav-area{
    display: grid;
    grid-column: 1/2;
    padding-left: 10px;
    padding-right: 10px;
    /*grid-template-rows: 1fr 1fr 1fr;*/
}

.nav-area > .nav-name{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-self: flex-start;
    padding-top: 25px;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(247, 245, 245);
    box-shadow: 1px 1px 200px rgb(39, 20, 20);
}

.nav-area > .nav-name > img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(245, 238, 238);
    box-shadow: 1px 1px 10px black;
}   

.nav-area > .nav-home, .nav-area > .nav-settings{
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
    font-weight: 600;
}

.nav-area > .nav-settings{
    align-self: flex-end;
}

/*start header area*/
.grid-container > .header{
    background-color: #E2E8F0;
    grid-area: header;
    border-bottom: 1px solid black;
}

.header{
    display: grid;
    grid-column: 2/4;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
}

.header > .header-1 > form{
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    gap: 5px;
}

.header > .header-2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    padding-bottom: 25px;
    font-weight: bold;
}

.header-2 > img{
    border: 1px solid black;
    border-radius: 50%;
    width:50px;
    height: 50px;
    box-shadow: 1px 1px 10px black;
    
}

#notif-logo{
    border-color: white;
    width: 50px;
    height: 50px;
}

.header > .header-3{
    display: flex;
    gap: 10px;
}

#header-3-user{
    font-weight: bold;
}

.header > .header-3 > img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(245, 238, 238);
    box-shadow: 1px 1px 10px black;
}

.header > .header-4{
    display: grid;
    grid-template-columns: 1fr 1.8fr 1.5fr;
    align-items: flex-start;
    justify-items: flex-end;
    justify-self: flex-end;
}

.header-4 > button{
    border: white;
    background-color: rgb(33, 74, 221);
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    max-width: 100px;
    box-shadow: 1px 1px 10px black;
}

/*start .main-area*/
.grid-container > .main-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr;
    grid-area: main-area; 
    padding: 10px;
    background-color: #CBD5E1;
}

.main-area > .main-area-1{
    grid-column: 1/3;
}

.main-area > .main-area-2{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 10px;
}

.main-area > .main-area-2 > .card{
    border: 1px solid black;
    background-color: #E2E8F0;
    border-left: 10px solid rgb(187, 187, 14);
    border-radius: 10px;
    height: 300px;
}

/*start announcements*/
.grid-container > .announcements{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    background-color: #CBD5E1;
    gap: 10px;
    grid-column: 2/4;
    grid-area: announcements;
    padding-top: 10px;
}

.announcements > .announcements-1{
    display: grid;
    border: 1px solid black;
    background-color: #E2E8F0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    align-self: flex-start;
}

.announcements > .announcements-2{
    display: grid;
    border: 1px solid black;
    background-color: #E2E8F0;
    border-radius: 20px;
    padding: 10px;
    align-self: flex-start;
}

.announcements-1-1, .announcements-2-1{
    justify-self: center;
}

.announcements-1-2{
    display: grid;
    gap: 10px;
}

.announcements-2-2-1 > p, .announcement-bar{
    border-bottom: 2px solid white;
    box-shadow: 0 10px 5px #888888;
    border-radius: 5px;
}

.announcements-2-2-1 > .trend > img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(245, 238, 238);
    box-shadow: 1px 1px 10px black;
}

.trend {
    display: flex;
    gap: 10px;
}

#trend-user{
    font-weight: bold;
}


/*common to use in classes*/
.main-area-1 > p, .announcements-1-1 > p, .announcements-2-1 > p{
    font-size: 1.5rem;
    font-weight: bold;
}

.announcement-bar > p:first-child{
    font-weight: bold;
}
footer{
    grid-column: 1/-1;
    justify-items: center;
    padding: 10px;
    align-items: flex-start;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #E2E8F0;
}