:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    grid-template-areas: 
    "nav-area header header"
    "nav-area main-area announcements"
}

.grid-container > .nav-area{
    background-color: aqua;
    grid-area: nav-area;
    border: 1px solid black;
}

.nav-area{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

.nav-area > .nav-name{
    align-self: center;
    font-size: 2rem;
}

.nav-area > .nav-home, .nav-area > .nav-settings{
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

.nav-area > .nav-settings{
    align-self: flex-end;
}

.grid-container > .header{
    background-color: aqua;
    grid-area: header;
    border: 1px solid black;
}

.grid-container > .main-area{
    background-color: aqua;
    grid-area: main-area;
    border: 1px solid black;
}

.grid-container > .announcements{
    background-color: aqua;
    grid-area: announcements;
    border: 1px solid black;
}